* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[class*="container"] {
    margin-bottom: 20px;
}

.container-1::after,
.container-2::after,
.container-3::after,
.container-4::after {
    content: "";
    clear: both;
    display: table;
}

.container-box {
    float: left;
    width: 50%;
    padding: 50px;
}

.con4-item {
    float: left;
    width: 33.33%;
    padding: 50px;
}


.container-1 img{
    width: 550px;
    object-fit: contain;
}

img.female {
    width: 400px;
    width: 50%;
    object-fit: 400px;
}

.container-3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
}

.container-3-title {
    grid-column: 1 / 3;
    text-align: center;
    height: 100px;
}

.container-3 img {
    width: 90%;
    border-radius: 30px;
}
 .recipe-1, .recipe-2 {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    margin: 0 50px;
    box-shadow: 0 0 15px black;
}

.container-2-text {
    text-align: center;
}

.container-2 {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
}

.container-4 {
    text-align: center;
    box-shadow: 0 0 15px black;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
}

.container-5 {
    color: white;
    background: black;
    margin-bottom: 0;
    height: 200px;
    padding-top: 60px;
}

.container-5 h2 {
    color: rgb(186, 186, 186);
    padding-bottom: 20px;
}

.container-1-text {
    text-align: center;
    padding-top: 180px;
}

.container-2-text {
    padding-top: 200px;
}

.container-1-text h1 {
    text-transform: capitalize;
}

.orange-text {
    color: orange;
}

.container-3-title h2{
    padding-bottom: 20px;
    color: rgba(66, 66, 66, 0.8);
}



















.container-5 {
    text-align: center;
}



.btn{
    margin-top: 40px;
}



button, a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(to right, orange, tomato);
    border-radius: 5px;
    font-weight: 700;
}

