[class*="container"] {
    margin-bottom: 150px;
    background-color: gray;
}

.container-1 {
    height: 500px;
}


.container-1 img{
    width: 400px;
    float: right;
    right: 200px;
    position: relative;
}





























button, a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(to right, orange, tomato);
    border-radius: 5px;
    font-weight: 700;
}